.hero {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  overflow: hidden;
  background-color: #000;
  color: #fff;
  padding: 140px 40px 0px;
}

.hero-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(circle at center, #0d0d0d 0%, #000 100%);
  z-index: 0;
}

.hero-inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* max-width: 1200px; */
  width: 100%;
  position: relative;
  z-index: 2;
  gap: 50px;
}

.hero-left {
  flex: 1;
  animation: fadeZoom 1.5s ease forwards;
}

.hero-left h1 {
  font-size: 3.5rem;
  margin-bottom: 15px;
}

.glow-text {
  background: linear-gradient(90deg, #ffdd00, #0dd5ed, #ff0080);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200%;
  animation: textShimmer 4s linear infinite;
  font-weight: bold;
}

@keyframes textShimmer {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 200%;
  }
}

.subtitle {
  color: #dcdcdc;
  font-size: 1.3rem;
  margin-bottom: 30px;
}

.subtitle span {
  color: rgb(255, 179, 71);;
  font-weight: 600;
}

.hero-btn {
  padding: 12px 36px;
  border-radius: 30px;
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  box-shadow: 0 0 20px rgba(0, 114, 255, 0.6);
  transition: all 0.3s ease;
}

.hero-btn:hover {
      transform: translateY(-2px);
  box-shadow: 0 0 30px rgba(0, 114, 255, 0.6);
  background: linear-gradient(90deg, #0072ff, #00c6ff);
}
.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-image {
  width: 100%;
  /* max-width: 450px; */
  /* border-radius: 50%; */
  /* box-shadow: 0 0 30px rgba(0, 255, 255, 0.3); */
  animation: float 4s ease-in-out infinite;
}

@keyframes float {
  0%   { transform: translate(0, 0); }
  25%  { transform: translate(15px, -5px); }
  50%  { transform: translate(0, -10px); }
  75%  { transform: translate(-15px, -5px); }
  100% { transform: translate(0, 0); }
}


@keyframes fadeZoom {
  from {
    opacity: 0;
    transform: scale(0.95);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

/* Responsive */
@media (max-width: 900px) {
  .hero {
    padding-top: 100px;
  }
  .hero-inner {
    flex-direction: column;
    text-align: center;
  }

  .hero-left h1 {
    font-size: 2.4rem;
    margin-top: 20px;
  }

  .hero-right {
    margin-top: 30px;
  }

  .hero-image {
    width: 65%;
  }
}
